vignettes/*
inst/website
*Rproj*
*.Rhistory*
^plant.Rcheck$
.Rproj.user
src/*.o.tmp
src/*.o
src/*.so
tmp*
.vscode
scrap.R
scripts/ES20/as_sensitivity.RData
scripts/ES20/optimal_ts_data_as_005.RData
scripts/ES20/optimal_ts_data_as_005_tcrit_085.RData
scripts/ES20/optimal_ts_data_as_010_tcrit_075.RData
scripts/ES20/optimal_ts_data_as_010_tcrit_085.RData
scripts/ES20/optimal_ts_data_as_015.RData
scripts/ES20/optimal_ts_data_as_01.RData
scripts/ES20/optimal_ts_data_as_020_tcrit_075.RData
scripts/ES20/optimal_ts_data_as_020_tcrit_085.RData
scripts/ES20/optimal_ts_data_as_030_tcrit_075.RData
scripts/ES20/optimal_ts_data_as_030_tcrit_085.RData
scripts/ES20/optimal_ts_data.RData
scripts/ES20/results_stochastic_test_100_years.RData
scripts/ES20/results_stochastic_test_100_years_v2.RData
scripts/ES20/results_stochastic_test_100_years_v3.RData
scripts/ES20/results_stochastic_test_10_years.RData
scripts/ES20/results_stochastic_test_35_years.RData
scripts/ES20/results_stochastic_test_4_years_100m2.RData
scripts/ES20/results_stochastic_test_5_years_100m2.RData
scripts/ES20/test_stoch.RData
scripts/ES20/time_est_single_species.RData
