vignettes/*
inst/website
*Rproj*
*.Rhistory*
^plant.Rcheck$
.Rproj.user
src/*.o.tmp
tmp*
.vscode
scrap.R
src/adaptive_interpolator.o
src/cohort_schedule.o
src/control.o
src/disturbance.o
src/es20r_strategy.o
src/es20_strategy.o
src/ff16r_strategy.o
src/ff16_strategy.o
src/gradient.o
src/hacks.o
src/interpolator.o
src/ode_control.o
src/plant_tools.o
src/qag_internals.o
src/qag.o
src/qk.o
src/qk_rules.o
src/RcppExports.o
src/RcppR6.o
src/scm_utils.o
src/tk_spline.o
src/uniroot.o
src/util.o
src/util_post_rcpp.o
src/water_strategy.o
src/st_00_strategy.o
src/plant.so
DESCRIPTION
NAMESPACE
R/hack.R
src/.nfs00000001529879e2000003a2
src/.nfs00000001530e06b60000039f
